<h1>Registration page</h1>

    <%= form_for @user, :url => { :action => "create" } do |f| %>

      <%= f.label :name %>
<br>
-----------------------------------------------------------------
<br>
      <%= f.text_field :name %>
<br>
      <%= f.label :email %>
 <br>
 ----------------------------------------------------------------
 <br>
      <%= f.text_field :email %>
<br>
      <%= f.label :password %>
<br>
-----------------------------------------------------------------
<br>
      <%= f.password_field :password %>
<br>
-----------------------------------------------------------------
<br>
<p>Для реєстрації натисніть кнопку ок</p>

      <%= f.submit "ok", class: "btn btn-large btn-primary" %>
    <% end %>
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>
-----------------------------------------------------------------
<br>